* {
  background-color: #3A3A3A;
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}


a {
  text-decoration: none;
  color: #E88D58;
}

a:hover {
  text-decoration: underline;
}

td {
  background-color: #A69CE5;
}

h2 {
  background-color: #000000;
  color: #C0DA74;
  width: 100%;
  text-align: center;
}

#infoTable {
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  border-spacing: 20px;
  background-color: #A69CE5;
}

#logoImage {
  width: 400px;
  
}

#iconImage {
  width: 200px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.9);
  border-radius: 50% 50%;
  
}

/* Add a black background color to the top navigation */
.navBar {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  background-color: #000000;
  color: #5EB1BF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 20px;
}

/* Change the color of links on hover */
.navBar a:hover {
  color: #E88D58;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: #E88D58;
  color: white;
}